.about{
    width: 100%;
    height: auto;
    background-color: rgb(22, 69, 109);
    display: flex;
    flex-direction: column;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  
    background-color: #e24d4d;
    border-radius: 8px;
    max-width: 1350px;
    height: 1185px;
    margin: auto;
    font-family: Arial, sans-serif; 
}
.about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
  
}
.about-item {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 390px;
    text-align: center;
    padding-bottom: 0.5rem;
    height: 351px;
    background-color: aquamarine;
   
}
.about-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.about-resume{
     display: flex;
    flex: row;
    justify-content: center;
    align-items: center ;
    text-align: center;
    height: 114px;
    background-color: darkkhaki;
}