.section-header {
   display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: #51e73a;
  padding: 0.5rem 0;
  height: 178px;
  max-width: 1350px;
 
}

.section-subtitle {
  color: #666;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.section-description {
  color: #444;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;

}